  html, body {
    height: 100%;
  }

  body {
  background-color: #252525;
  color: #e4e4e4;
  width: auto;
  height: auto;
  }

  .bg_frame {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.veenir-google-header-content{
    float: right;
    height: 40px;
    line-height: 40px;
  }
  .veenir-google-content{
    text-decoration: none;
    color: #e4e4e4;
    position: relative;
    display: inline;
    right:10px;
    margin-right: 10px;
    height: 50px;
    line-height: 20px
  }
  .veenir-icon{
    font-size: 30px;
    position: relative; 
    top: 7px;
  }

  .localhost_button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .localhost_button i {
    font-size: 40px;
    color: #e4e4e4;
    padding: 5px;
    margin: 0;
  }
  
  .localhost_box {
    position: fixed;
    width: min-content;
    z-index: 1;
  }

  .openlocal{
    background-color: #252525;
    width: 50%;
    height: 100%;
    animation: openlocal 2s;
  }

  .closelocal {
    background-color: transparent;
    width: 0;
    height: 100%;
    animation: closelocal 2s;
  }

  .openframe {
    background-color: #e4e4e4;
    width: 100%;
    height: 100%;
  }

  .closeframe {
    background-color: transparent;
    width: 0;
    height: 100%;
  }

  .opennav {
    width: 100%;
    background-color: #353535;
    border-radius: 0 0 20px 20px;
  }

  .closenav {
    width: 0;
    background-color: #353535;
    border-radius: 0 0 20px 20px;
  }

  .url_bar_div form {
    float: right;
    padding: 0;
    height: 50px;
    width: 70%;
  }

  .url_bar_div form div {
    width: 90%;
    height: 32px;
    background-color: #252525;
    border-radius: 15px;
    margin-top: 15px;
    padding: 1px;
    margin-right: 15px;
  }

  .url_bar_div input[type=text] {
    border-radius: 0 15px 15px 0;
    width: 92%;
    height: auto;
    background-color: #252525;
    border: 0px;
    color: #e4e4e4;
  }

  .browser_logo {
    width: 35px;
    background-color: #fff;
    border-radius: 100%;
    padding: 2px;
  }

  .url_bar_div img {
    width: 6%;
    padding-left: 8px;
  }
  
  .azar-google-image{
      height: 20px;
      width: 20px;
      border-radius:50%;
      background: url("https://lh3.googleusercontent.com/-Q_7ZnDcMD00/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3reVzGWjvS75N2UMmnJH5egu8aAEbA/photo.jpg?sz=46");
      background-color: gray;
      padding: 10px;
      float: right;
  }
  
  .veenir-google-image{
    margin: 0 auto;
    width: 50%;
  }
  .veenir-google-s{
    position: relative;
    top: 150px;
    text-align: center;
  }
  .google-img{
    pointer-events: none;
    width: 350px;
    height: auto;
  }
  
  .azarblah{
    max-width: 60%;
    min-width: 40%;
    border-radius: 25px;
    border: 1px solid gainsboro;
    margin-top: 20px;
    padding: 10px;
    padding-right: 35px;
    padding-left: 45px;
  }
  .azarblah:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }
  .azarblah:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  }
  .azarblah:focus{
    outline: none;
  }
  .micropho{
    position: relative;
    right: 45px;
    width: 25px;
  }
  .search-icon{
    position: relative;
    left: 35px;
    font-size: 20px;
    top: 4px;
    color: #353535;
  }
  
  .dont-know-veenir-googe{
    width: 100%;
    text-align: center;
    height: 35px;
    position: relative;
    top: 170px;
    line-height: 35px;
    display: none;    
  }
  .dont-know-items-veenir-google{
    display: inline-block;
  /*   text-indent: 10px; */
    background: #f5f5f5;
    padding-right: 10px;
    height: 35px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-family: arial,sans-serif;
    color:#5F6368;
    text-decoration: none;
    
  }
  
  .veenir-google-footer{
    position: fixed;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 40px; 
    line-height: 10px;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .veenir-google-footer ul li{
    float: left;
    text-indent: 10px;
    list-style: none;
    text-decoration: none; 
  }
  
  .veenir-google-footer ul li a{
    text-decoration: none; 
    color: rgba(0,0,0,.54);
    font-size: 13px;
  }
  .veenir-g-item-right{
    float: right;
    position: relative;
    top: -15px;
    right: 10px;
  }

  .mini_title {
    font-size: 12px;
  }
  
  .circle_button_menu {
    max-width: 500px;
    height: auto;
    position: relative;
    top: 170px;
    text-align: center;
  }

  .circle_button {
    margin-bottom: 10px;
  }

  .delete_fav {
    width: 20px;
    height: 20px;
    z-index: 22;
    padding: 0;
    float: right;
    margin-right: 18px;
  }

  .delete_fav a {
    padding: 1px 6px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    line-height: 13px;
    background-color: #353535;
    display: none;
  }

  .circle_button_menu img {
    background-color: #353535;
    width: 70px;
    height: 70px;
    padding: 15px;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: 18%;
    margin-bottom: 10px;
  }

  .add_icon {
    margin-right: 25% !important;
  }

  .circle_button_menu a {
    color: #e4e4e4;
    text-decoration: none;
  }

  .circle_button_menu h2 {
    font-size: 20px;
  }

  /* add web site panel */

  .add_web_site_content {
    background-color: #e4e4e478;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .register_web_site {
    background-color: #353535;
    width: 60%;
    height: auto;
    padding: 20px;
    display: block;
    margin: auto;
    margin-top: 220px;
    border-radius: 15px;
    text-align: center;
    font-size: 100%;
    z-index: 3;
  }

  .register_web_site input[type=text] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
  }

  .register_web_site input[type=submit] {
    width: 30%;
  }

  /* Arka Plan Değişim Formu */
  .bg_selector_content {
    background-color: #e4e4e478;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
  }

  .bg_selector_from {
    background-color: #353535;
    width: 70%;
    height: auto;
    padding: 20px;
    margin: auto;
    margin-top: 180px;
    border-radius: 15px;
    text-align: center;
    font-size: 100%;
    z-index: 3;
  }

  .bg_selector_from>form>div {
    display: flex;
    flex-wrap: wrap;
  }

  .bg_selector_img_content {
    margin: 5px;
    text-align: left;
  }

  .bg_selector_img {
    width: 250px;
    border-radius: 5px;
  }

  .bg_selector_img_content_box iframe {
    width: 100%;
    border-radius: 5px;
  }

  .bg_selector_img_content_box {
    width: 260px;
    text-align: center;
    background-color: #252525;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.2s;
    margin-bottom: 6px;
  }

  .bg_selector_img_content_box:hover {
    padding:8px;
    width:266px;
    margin-bottom:0;
  }

  .bg_selector_img_paragraph {
    padding: 0;
    padding-top: 0;
    margin-top: -10px;
    margin: 0;
    text-align:left;
  }

/* radio butonunun etrafındaki çerçeve */
.bg_selector_radio_input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  outline: none;
  cursor: pointer;
  position:relative;
  left: 100px;
  bottom: 20px;
}

/* radio butonunun işaretlenmiş halindeki renk */
.bg_selector_radio_input:checked {
  border-color: #353535;
  background-color: #fff;
}

/* radio butonunun işaretlenmemiş halindeki renk */
.bg_selector_radio_input:not(:checked) {
  border-color: #fff;
  background-color: #353535;
}

.bg_selector_img_content_bottom {
  display: flex;
}

.bg_selector_img_content_bottom>div {
  text-align: left;
}

.bg_selector_img_content_bottom>div>span {
  color: #5F6368;
}

  /* Diğer */

  .versions {
    color: #5F6368;
    font-size: small;
    position: fixed;
    right: 10px;
    bottom: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .not-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .block {
    display: block;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 66, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(188, 35, 35);
}

@keyframes openlocal {
  from{
    width: 0;
  }
  to{
    width: 50%;
  }
}

@keyframes closelocal {
  from{
    width: 50%;
    background-color: #e4e4e4;
  }
  to{
    width: 0;
    background-color: #e4e4e4;
  }
}

@media only screen and (min-width: 769px) {
  .register_web_site input[type=text] {
    width: 70%;
  }
}